 

 /* html {
  font-family: "Urbanist";
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #5b697a 0%, #5b697a 50%),
    linear-gradient(to bottom, #fafbfd 0%, #fafbfd 50%);
  background-size: 100% 50%, 100% ;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.lists {
  width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul {
    list-style-type:lower-roman;
    list-style-position:inside;
}

li {
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 16px;
  border: 2px solid #ed5656;
}   */
 









  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem 10rem;
}

#main-heading {
  color: #1e1403;
  text-align: left;
  margin-bottom: 30px;
}

.parent-div {
  width: 1000px;
  height: 800px;
  color: #fff;
  background: linear-gradient(to right, #514a9d, #24c6dc);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

.child {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right, #93edc7, #1cd8d2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  place-items: center;
  font-size: 32px;
  position: absolute;
  color: #003180;
  
}

.child:nth-child(2),
.child:nth-child(4) {
  background: linear-gradient(to right, #3cd3ad, #4cb8c4);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.parent-div {
  position: relative;
  left: 300px;
} 

.child-1{
  left: 0;
  top: 0;


}
.child-2{
    top: 0;
    right: 0;
}
.child-3 {
    bottom: 0;
    right: 0;
}

.child-4{
    bottom: 0;
    left: 0;
}

.child-5{
    left:50%;
    bottom:50%;
}





/* .div{
    background-image: linear-gradient(red,orange);
    margin-top:20px;
}

.div1{
     background-image: linear-gradient(red,orange);
      margin-top: 30px;
      margin-bottom: 20px; 
}

.div2{
    background-image: linear-gradient(red,orange);
    margin-bottom: 20px; 

   
} */